/// Location resource: https://www.xilinx.com/support/documentation/boards_and_kits/ug230.pdf 
// Outputs (VGA UCF - 59th page)
NET "O_RED"       LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "O_GREEN"     LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "O_BLUE"      LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "O_HSYNC"     LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "O_VSYNC"     LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

// Inputs (Push-Button Switches - 16th page, internal 50 MHz clock - 22nd page)
NET "I_50MHZ_CLK" LOC = "C9" ;
NET "I_KEY_UP"    LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN ;
NET "I_KEY_DOWN"  LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "I_KEY_LEFT"  LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "I_KEY_RIGHT" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
